.gradle/
build/
out/
classes/
common/bin/
fabric/bin/
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
.classpath
.project
*.launch
*.DS_Store
run/
logs/
.architectury-transformer/
deploy-mod.bat
gradle.properties
gradlew
gradlew.bat
settings.gradle
.github/
*~
\#*
